// SPDX-License-Identifier: (GPL-2.0+ OR MIT)

&csi2_dphy_hw {
	status = "okay";
};

&csi2_dphy1 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			csi_dphy1_input0: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&gc2053_cam0_out>;
				data-lanes = <1 2>;
			};

			csi_dphy1_input1: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&sc4336_cam0_out>;
				data-lanes = <1 2>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			csi_dphy1_output: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&mipi0_csi2_input>;
			};
		};
	};
};

&csi2_dphy2 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			csi_dphy2_input0: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&gc2053_cam1_out>;
				data-lanes = <1 2>;
			};

			csi_dphy2_input1: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&sc4336_cam1_out>;
				data-lanes = <1 2>;
			};

		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			csi_dphy2_output: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&mipi1_csi2_input>;
			};
		};
	};
};

&i2c4 {
	status = "okay";
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c4m2_xfer>;

	gc2053_cam0: gc2053-cam0@37 {
		compatible = "galaxycore,gc2053";
		status = "okay";
		reg = <0x37>;
		clocks = <&cru MCLK_REF_MIPI0>;
		clock-names = "xvclk";
		reset-gpios = <&gpio5 1 GPIO_ACTIVE_LOW>;
		pwdn-gpios = <&gpio5 0 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&mipi_refclk_out0>;
		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "CMK-OT2274-V10";
		rockchip,camera-module-lens-name = "28IRC-F20";
		port {
			gc2053_cam0_out: endpoint {
				remote-endpoint = <&csi_dphy1_input0>;
				data-lanes = <1 2>;
			};
		};
	};

	sc4336_cam0: sc4336-cam0@30 {
		compatible = "smartsens,sc4336";
		status = "okay";
		reg = <0x30>;
		clocks = <&cru MCLK_REF_MIPI0>;
		clock-names = "xvclk";
		reset-gpios = <&gpio5 1 GPIO_ACTIVE_HIGH>;
		pwdn-gpios = <&gpio5 0 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&mipi_refclk_out0>;
		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "OT01";
		rockchip,camera-module-lens-name = "40IRC_F16";
		port {
			sc4336_cam0_out: endpoint {
				remote-endpoint = <&csi_dphy1_input1>;
				data-lanes = <1 2>;
			};
		};
	};
};

&i2c3 {
    status = "okay";
    clock-frequency = <400000>;
    pinctrl-names = "default";
    pinctrl-0 = <&i2c3m2_xfer>;

	gc2053_cam1: gc2053-cam1@37 {
		compatible = "galaxycore,gc2053";
		status = "okay";
		reg = <0x37>;
		clocks = <&cru MCLK_REF_MIPI1>;
		clock-names = "xvclk";
		reset-gpios = <&gpio5 3 GPIO_ACTIVE_LOW>;
		pwdn-gpios = <&gpio5 2 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&mipi_refclk_out1>;
		rockchip,camera-module-index = <1>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "CMK-OT2274-V10";
		rockchip,camera-module-lens-name = "28IRC-F20";
		port {
			gc2053_cam1_out: endpoint {
				remote-endpoint = <&csi_dphy2_input0>;
				data-lanes = <1 2>;
			};
		};
	};

	sc4336_cam1: sc4336-cam1@30 {
		compatible = "smartsens,sc4336";
		status = "okay";
		reg = <0x30>;
		clocks = <&cru MCLK_REF_MIPI1>;
		clock-names = "xvclk";
		reset-gpios = <&gpio5 3 GPIO_ACTIVE_HIGH>;
		pwdn-gpios = <&gpio5 2 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&mipi_refclk_out1>;
		rockchip,camera-module-index = <1>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "OT01";
		rockchip,camera-module-lens-name = "40IRC_F16";
		port {
			sc4336_cam1_out: endpoint {
				remote-endpoint = <&csi_dphy2_input1>;
				data-lanes = <1 2>;
			};
		};
	};	
};

&mipi0_csi2 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi0_csi2_input: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&csi_dphy1_output>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi0_csi2_output: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&cif_mipi_in0>;
			};
		};
	};
};

&mipi1_csi2 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi1_csi2_input: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&csi_dphy2_output>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi1_csi2_output: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&cif_mipi_in1>;
			};
		};
	};
};

&rkcif {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&mipi_pins>;
};

&rkcif_mipi_lvds {
	status = "okay";

	port {
		/* MIPI CSI-2 endpoint */
		cif_mipi_in0: endpoint {
			remote-endpoint = <&mipi0_csi2_output>;
		};
	};
};

&rkcif_mipi_lvds_sditf {
	status = "okay";

	port {
		/* MIPI CSI-2 endpoint */
		mipi_lvds0_sditf: endpoint {
			remote-endpoint = <&isp_in0>;
		};
	};
};

&rkcif_mipi_lvds1 {
	status = "okay";

	port {
		/* MIPI CSI-2 endpoint */
		cif_mipi_in1: endpoint {
			remote-endpoint = <&mipi1_csi2_output>;
		};
	};
};

&rkcif_mipi_lvds1_sditf {
	status = "okay";

	port {
		/* MIPI CSI-2 endpoint */
		mipi_lvds1_sditf: endpoint {
			remote-endpoint = <&isp_in1>;
		};
	};
};

&rkisp {
	status = "okay";
};

&rkisp_vir0 {
	status = "okay";

	port@0 {
		isp_in0: endpoint {
			remote-endpoint = <&mipi_lvds0_sditf>;
		};
	};
};

&rkisp_vir1 {
	status = "okay";

	port@0 {
		isp_in1: endpoint {
			remote-endpoint = <&mipi_lvds1_sditf>;
		};
	};
};
